* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
    background-image: url(../assets/bck.jpg);
    background-size: 30vw;
    color: white;
}

.container {
    display: flex;
    padding: 3rem;

    .comments__input {
        width: 30vw;
        padding: 1rem;

        h1 {
            text-shadow: 2px 2px 5px black;
            font-size: 2rem;
        }

        .field {
            width: 25vw;
            border: none;
            margin: 1rem;
            padding: 0.5rem;
            border-radius: 5px;

            &:focus {
                outline: none;
            }
        }

        .comments__user-comment {
            height: auto;
            max-height: 10em;
            overflow: auto;
            resize: none;
            line-height: 1.5;
        }
        .comments__show-name {
            margin: 1rem 0 1rem 1rem;
        }

        .comments__button-send {
            font-size: 1rem;
            font-weight: 700;
            margin-left: 1rem;
            padding: 1rem 2rem;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.5s all;

            &:hover {
                background-color: rgb(255, 38, 0);
                color: white;
            }
        }
    }

    .comments__comment-output {
        margin-top: 2rem;
    }

    .comments__output {
        display: none;
        width: 50vw;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 1rem 0 2rem 2rem;
        
        .comments__profile-output {
            display: flex;
            align-items: start;
            justify-content: start;
            margin: 2rem auto;
            padding: 1rem 0;
            border-bottom: 1px solid rgb(139, 139, 139);
            
            .comments__profile-info {
                max-width: 35vw;
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;
                font-weight: 600;


                .comments_date {
                    font-size: 0.7rem;
                    font-weight: 300;
                    color: bisque;
                }
            }
        }

        .comments__name-output,
        .comments__comment-output,
        .comments_date {
            margin: 0 0 0 2rem;
            padding: 0.5rem;
        }

        .comments__img-output {
            width: 100px;
            height: auto;
        }

        .comments__comment-output {
            color: rgb(255, 255, 255);
            border-radius: 0.8rem;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}